@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

body {  
    font-family: 'Roboto', sans-serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(232,232,232,0.9542191876750701) 100%); 
}

mark {
    background: rgb(142,94,32, 0.5);
    background: linear-gradient(83deg, rgba(142,94,32,0.5) 0%, rgba(223,194,138,0.0.5) 100%);
    border-radius: 4px;
    color: white;
    font-size: 80%;
    text-transform: uppercase;
    padding: 0.25em;
}

.callout-container {
    height: 100vh;
    color: white;
    background: url("../images/whiskey-hero.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    margin: 0 0 30px 0;
}

.callout p small {
    color: white;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5); 
}

.btn-cta {
    color: black;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: bold;
    background:  rgba(255, 255, 255, 1); 
    border-radius: 1000rem;
    width: 160px;

}
.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus,
.btn-cta:active:focus {
    color: white;
    Background:  rgba(0, 0, 0, 1); 
}





