@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

body {  
    font-family: 'Roboto', sans-serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(232,232,232,0.9542191876750701) 100%); 
}

mark {
    background: rgb(142,94,32, 0.5);
    background: linear-gradient(83deg, rgba(142,94,32,0.5) 0%, rgba(223,194,138,0.0.5) 100%);
    border-radius: 4px;
    color: white;
    font-size: 80%;
    text-transform: uppercase;
    padding: 0.25em;
}

.site-wide-alert {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background: rgb(142,94,32, 0.5);
    padding: .55rem 1.25rem;
    color: white;
}

.site-wide-alert a {
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    transition: color .15s ease-in-out;
}

.site-wide-alert a:hover,
.site-wide-alert a:active,
.site-wide-alert a:focus,
.site-wide-alert a:focus {
    color: black;
}

.alert-container .col-12 {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background:  rgba(0, 0, 0, 1); 
    z-index: 1;
}

.navbar-brand {
    font-weight: bold;
}

.callout-container {
    height: 100vh;
    color: white;
    background: url("../images/whiskey-hero.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    margin: 0 0 30px 0;
}

.callout p small {
    color: white;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid white;
}

.btn-cta {
    color: white;
    font-size: 95%;
    font-weight: bold;
    background:  rgba(0, 0, 0, 1); 
    border-radius: 1000rem;
    border: 1px solid white;
    width: 160px;

}
.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus,
.btn-cta:active:focus {
    color: black;
    background:  rgba(255, 255, 255, 1); 
    
}

.page-header {
    margin-bottom: 20px;
    border-bottom: 0;
    text-align: center; 
}

.page-header h2 {
    margin-top: 0;
}

.block-divider {
    width: 20%;
    height: 1px;
    background: rgb(142,94,32, 0.5);
}

.block-divider-white {
    width: 20%;
    height: 1px;
    background: rgba(255,255,255, 1);
}

.container-quotes, .container-features {
    padding: 75px 0;
}

.container-features {
    background: rgb(142,94,32, 0.5);
    color: white;
}

.features {
    text-align: center;
}

.features i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.features .btn {
    color: white;
    font-weight: bold;
    background:  rgba(0, 0, 0, 1); 
    border-radius: 1000rem;
    padding: 0.5rem 1rem;
    border: 0;
}

.features .btn:hover,
.features .btn:active,
.features .btn:focus,
.features .btn:active:focus {
    color: black;
    background:  rgba(255, 255, 255, 1); 
}




